/* .bg-img {
  background-image: url(../src/assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */


#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.opacity-1 {
  background: rgb(255 255 255 / 17%);
}

.bg-btn-1 {
  background: rgb(255 255 255 / 30%);
  border-radius: 5px;
  box-shadow: rgb(255, 255, 255) 0px 3px 8px;
}

.bg-btn-2 {
  background: linear-gradient(0deg, rgba(55, 124, 209, 1.00) 0.59%, rgba(136, 111, 134, 0.059) 100%);
  border-radius: 5px;
  box-shadow: rgb(255, 255, 255) 0px 3px 8px;
}

.bg-transparent {
  background: transparent;
}

.btn-shadow {
  background: linear-gradient(0deg, rgba(73, 54, 72, 0.059) 0.59%, rgb(13, 100, 206) 100%);
  border-radius: 3px;
  box-shadow: rgb(166, 199, 239) 0px 0px 20px;

}

.line {
  width: 180px;
  height: 2px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0px 12px 30px, rgb(255, 255, 255) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px, rgb(255, 255, 255) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 5px;
}